body {
  margin: 0;
  padding: 0;
  background-color: var(--vscode-sideBar-background);
  color: var(--vscode-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
}

.app {
  padding: 16px;
}
